{{#extends 'base'}}

{{#block "content"}}
<table class="table">
    <thead>
        <tr>
            <th>coverID</th>
            <th>coverName</th>
            <th>coverAuthor</th>
            <th>Tags</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each Cover}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.cover}}</td>
            <td>{{this.author}}</td>
            <td>{{this.tags}}</td>
            <td>
                <a href="/cover/{{this._id}}/notes" class="btn btn-success btn-sm">Covers</a> 
                <a href="/update-cover/{{this._id}}" class="btn btn-primary btn-sm">Update</a>
                <a href="/delete-cover/{{this._id}}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{/block}}

{{/extends}}